label, input {
    box-sizing: border-box;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    width: 100%;
    display: block;
}

input {
    height: 2rem;
    color: #6a0097;
    font-size: 1.2rem;
}

label {
    font-weight: bold;
}

